*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.Navbar{
    height: 13vh;
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    font-weight: bold;
    padding-left: 41vw;
    justify-content: center;
    align-items: center;
    background-color: #293241;
    color: #e0fbfc;
}
.mainpage{
    width: 100vw;
    min-height: 87vh;
    height: auto;
    background-color: #284b63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.car-entry-form{
background-color: #d9d9d9ac;
width: 40vw;
height:35vh;
border-radius: 2vh;
display: flex;
flex-direction: column;
align-items: center;
font-size: larger;
font-family: 'Poppins', sans-serif;
}
.parked-body{
    background-color: #d9d9d9ac;
    width: 100vw;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
}